@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,400;1,500;1,700;1,800;1,900&family=Niconne&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Alegreya Sans', sans-serif;

}
.navHeader {
  font-family: 'Pinyon Script', cursive;
}
.hero-text{
  margin-top:5rem;
}

.bg-hero{
  background: rgb(24, 0, 36);
  background: linear-gradient(90deg, rgba(24, 0, 36, 1) 0%, rgba(93, 9, 121, 1) 58%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  min-height: 50vh;
}

.bg-hero__width{
  width:15%;
}
.hero-hover:hover{
  color:#fff;
  background-color:black;
  border: 5px solid #fff;
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

/*
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/* ..................about section.................. */
.about{
  padding-top:5rem;

}
.about-text{
  text-align:justify;
}

.slide{
  display:block;
  animation: slide 1s linear
}
@keyframes slide{
  0% {
    transform: translateX(-2rem);
    opacity:0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

/* animation for works */
.slide-in-right{
  animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes slide-in-right{
  0%{
    transform:translateX(1000px);
    opacity:0;
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}

.slide-in-bottom{
  animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes slide-in-bottom{
  0%{
    transform:translateY(1000px);
    opacity:0;
  }
  100%{
    transform:translateY(0);
    opacity:1;
  }
}
.slide-in-left{
  animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes slide-in-left{
  0%{
    transform:translateX(-1000px);
    opacity:0;
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
@media only screen and (max-width:600px){
  .company-logo{
    font-size:14px;
  }
  .navigation{
    font-size:14px;
  } 
  .about{
  padding-top:2rem;
}
 
}